 <div class="user-details">
  <h1> About him </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Dedication</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>He can easily sit in front of a screen for 10 hours on the run, either working his ass off or crying why doesn't it work.</p>
    </div> <!--
    <div class="tech">
      <h2>Break time</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Games when need a break.</p>
    </div> -->
    <div class="tech">
      <h2>On-going</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Looks for someone to hire him as an intern.</p>
    </div>
</div>
