<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
	     <!-- <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a> -->
        <a aria-label="Mehul's Twitter" target="_blank" href="https://twitter.com/0x__shell">
		<i class="icon fa fa-twitter" aria-hidden="true"></i>
	</a>
        <!-- <a aria-label="My Google Plus" target="_blank" href="#">
		<i class="icon fa fa-google-plus" aria-hidden="true"></i>
	</a> -->
        <a aria-label="Mehul's Github" target="_blank" href="https://github.com/xmehulx/">
		<i class="icon fa fa-github-alt" aria-hidden="true"></i>
	</a>
	<!--<a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/_spiritual.kid_/">
		<i class="icon fa fa-instagram" aria-hidden="true"></i>
	</a>-->
	<a aria-label="Mehul's Linkedin" target="_blank" href="https://www.linkedin.com/in/mehul-singh-0x00/">
		<i class="icon fa fa-linkedin" aria-hidden="true"></i>
	</a>
      </div>
      <div class="header-links">
        <a class="link" href="https://xmehulx.github.io/terminal">Terminal Hub</a>
	<a class="link" href="https://xmehulx.github.io/write-ups/">Writeups</a>
        <a class="link" href="https://xmehulx.github.io/assets/docs/resume_online.pdf">Curriculum Vitae</a>
      </div>
      <div class="autotype">
            <p>mehul@sh3ll:~# <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
      </div>
      <div class="header-links">
	<center> 
		<div style="margin:3%">
			<script src="https://www.hackthebox.eu/badge/112087"> </script>
		</div>
	</center>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
