<div class="user-details">
  <h1> Recent Works </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Hackthebox machine writeup" src="https://xmehulx.github.io/assets/img/blunder.webp" />
  </div>
  <div class="contents">
    <h3> Added new Hackthebox write-up </h3>
    <ul>
      <li> Blunder write-up</li>
    </ul>
    <p>Rooted the easy-level Windows machine "Blunder" created by the moderator <a href="https://www.hackthebox.eu/profile/94858">egotisticalSW</a>. No extra details would be mentioned as the box is still live. You can check the writeup from the link given below.</p>
    <a class="project-link" href="https://xmehulx.github.io/write-ups/blunder/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="IEEE published" src="{{ "/assets/img/IEEE.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Published Research Paper </h3>
    <ul>
      <li> "Empirical Analysis of Non-Cryptographically Secure Pseudorandom Number Generators" </li>
    </ul>
    <p>Published his first paper to IEEE on the above mentioned topic which was supposed to be published around this time but due to the current pandemic situation, got postponed till further notice. He will upload the link to his paper as soon as it gets uploaded by IEEE.</p>
    <a class="project-link" href="#">Check it out (Not now!)</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Fortinet certification" src="{{ "/assets/img/Fortinet-logo.png" | prepend:site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Network Security Expert </h3>
    <ul>
      <li> NSE Certified by Fortinet </li>
    </ul>
    <p> Completed their NSE (Network Security Expert) course and passed their exam to become NSE certified in April 2020. You can check this on his Linkedin page from the link below. </p>
    <a class="project-link" href="https://www.linkedin.com/posts/mehul-singh-0x00_fortinet-fortinetnse-activity-6661993141605933056-OZU6">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ICSI Certified" src="{{ "/assets/img/icsiv2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Certified Network Security Specialist </h3>
    <ul>
      <li> CNSS Certified by ICSI, UK </li>
    </ul>
    <p> Completed their CNSS (Certified Network Security Specialist) course to become CNSS certified by International CyberSecurity Institute, UK in June 2020. You can check this on his Linkedin page from the link given below. </p>
    <a class="project-link" href="https://www.linkedin.com/posts/mehul-singh-0x00_icsi-cnss-certified-network-security-specialist-activity-6676185160024637441--G7X">Check it out</a>
  </div>
</div>
