<div class="user-details">
  <h1> Recent Works </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Hackthebox machine" src="{{ "/assets/img/magic.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Added new write-up </h3>
    <ul>
      <li> Magic write-up</li>
    </ul>
    <p>Rooted the medium level machine "magic". You can check it out once his write-up page is completed (it's under construction right now).</p>
    <a class="project-link" href="https://xmehulx.github.io/write-ups/magic">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="IEEE" src="{{ "/assets/img/IEEE.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Published Research Paper </h3>
    <ul>
      <li> "Empirical Analysis of Non-Cryptographically Secure Pseudorandom Number Generators" </li>
    </ul>
    <p>Published his first paper to IEEE on the above mentioned topic which was supposed to be published around this time but due to the current pandemic situation, got postponed till further notice. He will upload the link to his paper as soon as it gets uploaded by IEEE. Meanwhile, during this crisis please remain calm and think logically :)</p>
    <a class="project-link" href="#">Check it out (Not now!)</a>
  </div>
</div>
