<div class="user-details">
  <h1> Recent Works </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Hackthebox challenge writeup" src="/assets/img/certified-in-cybersecurity-cc.png" />
  </div>
  <div class="contents-right">
    <h3> ISC2 CC </h3>
    <ul>
      <li> Got certified in Cybersecurity by ISC2</li>
    </ul>
    <p>Got my first ISC2 certification. Next is CISSP!</p>
    <a class="project-link" href="https://www.credly.com/badges/11ae9196-b828-483f-a2f6-a47846c2afdb/public_url">ISC2 CC badge</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Secuity+ Certified" src="{{ "/assets/img/CompTIA_Security_ce.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CompTIA Security+ </h3>
    <ul>
      <li> Got certified with Secuity+ by CompTIA</li>
    </ul>
    <p>Passed the Security+ exam with the score of 817. Check his badge from the below link</p>
    <a class="project-link" href="https://www.youracclaim.com/earner/earned/badge/97466b31-edea-49be-86c8-8c203bcc93b9">Check Badge</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Hackthebox challenge writeup" src="/ctf-vault/assets/images/articles/blessing.png" />
  </div>
  <div class="contents-right">
    <h3> Added new Hackthebox write-up </h3>
    <ul>
      <li> Blessing write-up</li>
    </ul>
    <p>Rooted the easy-level PWN challenge "Blessing" created by the moderator <a href="https://app.hackthebox.com/users/70668">w3th4nds</a> focusing on abusing pointer arithmetic. You can check the writeup from the link given below.</p>
    <a class="project-link" href="/ctf-vault/blessing.htb">Blessing writeup</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="IEEE published" src="{{ "/assets/img/IEEE.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Published Research Paper </h3>
    <ul>
    </ul>
    <p>Published his research papers to IEEE on the above mentioned topic which was supposed to get published in the early 2020 got delayed due to the pandemic, but is now published. You can check it out on the link given below.</p>
        <a class="project-link" href="https://ieeexplore.ieee.org/document/9132873">Empirical Analysis of Non-Cryptographically Secure Pseudorandom Number Generators</a>
        <a class="project-link" href="https://ieeexplore.ieee.org/document/9132894">An Analytical Study on Cross-Site Scripting</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Fortinet certification" src="{{ "/assets/img/Fortinet-logo.png" | prepend:site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Network Security Expert </h3>
    <ul>
      <li> NSE Certified by Fortinet </li>
    </ul>
    <p> Completed their NSE (Network Security Expert) course and passed their exam to become NSE certified in April 2020. You can check this on his Linkedin page from the link below. </p>
    <a class="project-link" href="https://www.linkedin.com/posts/mehul-singh-0x00_fortinet-fortinetnse-activity-6661993141605933056-OZU6">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ICSI Certified" src="{{ "/assets/img/icsiv2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Certified Network Security Specialist </h3>
    <ul>
      <li> CNSS Certified by ICSI, UK </li>
    </ul>
    <p> Completed their CNSS (Certified Network Security Specialist) course to become CNSS certified by International CyberSecurity Institute, UK in June 2020. You can check this on his Linkedin page from the link given below. </p>
    <a class="project-link" href="https://www.linkedin.com/posts/mehul-singh-0x00_icsi-cnss-certified-network-security-specialist-activity-6676185160024637441--G7X">Check it out</a>
  </div>
</div>
